{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <div class="rounded shadow bg-white p-5">
        <div class="row">

            <div class="col-12 d-flex mt-5">
                <h2 class="font-weight-light"><i class="fas fa-glass-cheers"></i>Posts</h2>
            </div>
        </div>
        <hr class="mt-1 mb-5 bg-dark">
        <div class="row">
            {% for post in posts %}
                <div class="col-md-6 col-sm-4 col-xs-12">
                    <main class="mt-5 pt-4">
                        <p>{{ post.published | date("m/d/Y") }}</p>
                    <div class="box-part text-center">

                        <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>

                        <div class="title">
                            <h4>{{ post.titre }}</h4>
                        </div>

                        <div class="text">
                            <span>{{ post.content [0:80] }}</span>
                        </div>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ path('app_post_details', {'slug': post.slug}) }}" class="btn btn-info" role="button">Voir détails</a>
                            {% else %}
                            <a href="{{ path('security_login') }}" role="button">Connecte-toi pour découvrir ce sublime article !</a>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_post_delete', {'id': post.id}) }}" class="btn btn-danger" role="button">Supprimer</a>
                        <a href="{{ path('app_post_update', {'id': post.id}) }}" class="btn btn-warning" role="button">Mettre à jour</a>
                        {% endif %}

                    </div>
                    </main>
                </div>
            {% else %}
                <p> Aucun article récent</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

